@media screen and (max-width:550px){
    .UpperTopHeader{
        display:none;
    }
    
}
/* .UpperTopHeader{
    position: sticky;
    top: 0;
    
} */
.linkContainer{
    display: flex;
    
}
.upperHeaderLink{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.imgFacebook{
    color:white;
}
